<!DOCTYPE html>
<html>
  <head>
    <title>Business</title>
    <link rel="stylesheet" type="text/css" href="business.component.css">
  </head>
<body>
   
  <br>      
  <br>
  <div class="toolbar" role="banner">
    <button class="logo" [routerLink]="['']"><img class="logo"
      src="/assets/images/logo.jpg"
      alt="logo"
      />
      </button>
    <h1 class="welcome">Cooperative
      <br>&nbsp;Economics</h1>
</div>
<br>
<br>
<br>
<br>
<h2 class="about">Start a Business</h2>

<p class="text">
   Having a business is the definition of the American Dream.
   Business ideas should be conceived from your own interests and/or necessity of the community.
   There is a lot that goes behind having an accredited business. Google will be your best friend for this information.
  </p>

</body>