<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="about.component.css">
  </head>
<body>
   
  <br>      
  <br>
  <div class="toolbar" role="banner">
    <button [routerLink]="['']"><img class="logo"
      src="/assets/images/logo.jpg"
      alt="logo"
      />
      </button>
    <h1 class="welcome">Welcome to Cooperative Economics</h1>
</div>
<br>
<br>
<br>
<br>
<h2 class="about">About Us</h2>

<p class="text">Cooperative Economics was created to give knowledge in finances to the people. It is our belief that we must put our resources together to make changes in our communities. Together we are stronger.</p>
<br>
<p class="henry">"Coming together is a beginning. Keeping together is progress. Working together is success."
  <br>
  - Henry Ford
</p>
</body>
