<!DOCTYPE html>
<html>
  <meta name="viewport"
  content="width=device-width,
   initial-scale=1.0">
<head>
<title>How To Save</title>
<link rel="stylesheet" type="text/css" href="app.component.css">
<script src="https://www.youtube.com/iframe_api"></script>
</head>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="toolbar" role="banner">
  <img class="logo"
  src="/assets/images/logo.jpg"
  alt="logo"
  />
  <h2 id="welcome">
    Welcome to 
    <br>Cooperative Economics
  </h2>
  <div class="dropdown" style="float: left;">
    <button class="dropbtn">
    <div id="menu1"></div>
    <div id="menu2"></div>
    <div id="menu3"></div>
  </button>
  <div class="dropdown-content"> 
  <a href="#">About Us</a>  
  </div>
</div>


</div>
<body>
<br>
<br>
<br>


    <br>
    <br>
    <div id="cashFalling">
     <img class="cashFell"
     src="assets/images/cashFalling.png"
     alt="cashFell"
     
     style="width: 200%; opacity: 0.68; height: 200%"
     
     />
  <br>
  <br>
  <br>




 
   <h2 style="font-size: 35; text-align: center;">How To Save</h2>
<span id="ol">
  <p id="one">Get a source of income.
    <br>
 Possibly more than 1 depending on how fast you want to save
  </p>
  <p id="two">Open a high yield savings account. 
   <br>A good one is <a href="https://www.americanexpress.com/en-us/banking/online-savings/account/?intlink=us-en-hp-product2-personal-all-savingsaccounts">American Express</a>
       which gives a return of 3% a year and compounds monthly.
     <br><br>Example: $1,000 in this savings account will make around $30 a year or $2.50 a month. 
  </p>
  <p id="three">Put money in your savings account every week, paycheck, or month consistently.
  <br><br>Example: Put $100 in a savings account every week and in a year you have around $5,000 + 3% interest
  </p>
  <p id="four">Be as consistent as you can. 
    <br><br>If you fall off, start again.</p>
  </span> 
<br>

<br>
<h3>Next Steps</h3>
<div id="oln">
  <p id="nOne">Tell friends and family to save.
  Working with a team will help you by keeping each other motivated to save and then you can also put your money together to invest.
  </p>
  <p id="nTwo">Investing Options</p>
</div> 
</div>
<br>
<br>
<br>
<br>

<h3 id="helpful">Helpful Links</h3>
<span id="textAlign">
<div id="inline">
  
<iframe id="vid1" width="420" height="315"
src="https://www.youtube.com/embed/XVC2t_b-lII">
</iframe>
<p id="vidText1">Good way to save for people that get paid in cash</p>

<iframe id="vid1" width="420" height="315"
src="https://www.youtube.com/embed/2DzVGJlEhjA">
</iframe>
<p id="eyl">Earn Your Leisure is a great channel
  <br>
  to check out for investing</p>

<!-- <button id="arrowRight"></button> -->
<iframe id="vid1" width="420" height="315"
src="https://www.youtube.com/embed/D69VhdRNok0">
</iframe>
<p id="kris">Kris Kohn's videos are great for beginners 
  <br>
  investing in real estate</p>

</div>

</span>
<br>
<br>
<br>
<br>
</body>
<footer>&copy; JWJ Enterprises</footer>
</html>






 



 

   