<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate</title>
    <link rel="stylesheet" type="text/css" href="real-estate.component.css">
  </head>
<body>
   
  <br>      
  <br>
  <div class="toolbar" role="banner">
    <button class="logo" [routerLink]="['']"><img class="logo"
      src="/assets/images/logo.jpg"
      alt="logo"

      />
      </button>
    <h1 class="welcome">Cooperative
      <br>&nbsp;Economics</h1>
</div>
<br>
<br>
<br>
<br>
<h2 class="about">Investing in Real Estate</h2>

<p class="text">
    Investing in real estate is a great way to generate passive income.
There are multiple ways to make money in real estate.

The main factors that go into buying real estate are a down payment and credit. 
We will talk mainly about a down payment. 
A down payment is a percentage of the total price put down to start the owning process of the house.
Down payments can be as low as 3.5% with a FHA loan and on average around 20% with a conventional loan.
   </p>
</body>
