<!DOCTYPE html>
<html>
  <head>
    <title>Stocks</title>
    <link rel="stylesheet" type="text/css" href="stocks.component.css">
  </head>
<body>
   
  <br>      
  <br>
  <div class="toolbar" role="banner">
    <button class="logo" [routerLink]="['']"><img class="logo"
      src="/assets/images/logo.jpg"
      alt="logo"
      />
      </button>
    <h1 class="welcome">Cooperative 
      <br>&nbsp;Economics</h1>
</div>
<br>
<br>
<br>
<br>
<h2 class="about">Investing in the Stock Market</h2>

<p class="text">
    There are two approaches to investing in the stock market. 
    There is short term or long term investing.
    <span class="underline" style="text-decoration:underline;">The goal is to buy low and sell high</span>.
    Buying a product and selling for a higher amount is essentially the basis of business.
    Typically, about 20% of your savings should be invested into stocks.
</p>
<p class="title">
    Short Term Investing (Buying and selling within a year)
</p>
<ul class="text2">
    <p class="title2" style="text-align: center;">Stocks to Buy</p>
  <li>Tesla</li> 
  <br>
  <li>Walmart</li> 
  <br>
  <li>Roblox</li>
</ul>
<p class="title">
    Long Term Investing (Buying and holding stocks for at least a year)
</p>
<ul class="text2">
    <p class="title2" style="text-align: center;">Stocks to Buy</p>
    <li>Mutual Funds</li>
    <br>
    <li>ETF</li>
</ul>
<p class="text">All investments should be researched before investing</p>
</body>
