h1.welcome{
    text-align: center;
    align-items: center;
    -webkit-text-stroke: 1px green;
    font-family: sans; color: white;
    position: relative;
font-size: 30px;
margin-left: 130px;
/* top: -30px; */

}
button{
    margin-bottom:10px;
    height: 70px;
    width: 70px;
    position: absolute;
background-color: black;
cursor: pointer;
/* border: none; */
}
.logo{
    height:100px;
    width: 100px;
    left: 2px;
    border: none;
    }
/* .logo{
align-items: left;
height:70px;
width: 70px;
position: absolute;
border: none;

} */
.toolbar {
    position: absolute;
    top: 0;
    left: -1px;
display: grid;
grid-template-columns: 10px 10px 10px;
    height: 100px;
    width: 100%;
    text-align: center;

    background-color: black;
    color: white;
    font-weight: 600;
  }
  h2.about{
font-size: 30px;
    text-align: center;
    -webkit-text-stroke: .7px green; /* width and color */
    font-family: sans; color: black;

  }
p.text{
    text-align: center;
line-height: 1.5;
font-size: 24px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
    text-align: center;
    background-color: black;
    color: lightgoldenrodyellow;
    padding: 20px;
    font-size: 24px;
}
.text2{
    background-color: rgb(21, 122, 43);
padding: 50px;
font-size: 21px;
}
.border{
    border: solid
}
@media only screen and (min-width: 700px){

    h1.welcome{
    margin-left: 345px;
    }
}
@media only screen and (min-width: 1200px){

    h1.welcome{
    margin-left: 578px;
    }
}
@media only screen and (min-width: 1800px){

    h1.welcome{
    margin-left: 885px;
    }
}