<!DOCTYPE html>
<html>
  <head>
    <title>Knowledge</title>
    <link rel="stylesheet" type="text/css" href="knowledge.component.css">
  </head>
<body>
   
  <br>      
  <br>
  <div class="toolbar" role="banner">
    <button class="logo" [routerLink]="['']"><img class="logo"
      src="/assets/images/logo.jpg"
      alt="logo"
      />
      </button>
      <h1 class="welcome">Cooperative
        <br>&nbsp;Economics</h1>
</div>
<br>
<br>
<br>
<br>
<h2 class="about">Investing in Your Knowledge</h2>

<p class="text">
    This is where you will have to take your education into your own hands.
Learning does not stop at the end of your schooling. You must continue to learn in order to grow. 
Look at skills that seem interesting to you, top skills in demand for your industry, or even learn new skills to break into a new industry . 
Remember, you can learn anything you set your mind to doing. Instead of thinking, "I can't do this",
think about "How can I do this?"</p>
</body>
