<!DOCTYPE html>
<html>
  <head>
    <title>How To Save Money</title>
  <meta name="viewport"
  content="width=device-width,
   initial-scale=1.0">
   <script src="https://kit.fontawesome.com/3885b7d061.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fontawesome.com/icons/user-graduate?s=solid&f=classic">
<link rel="stylesheet" type="text/css" href="home.component.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="sylesheet" href="https://www.youtube.com/iframe_api">
</head>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="toolbar" role="banner">
  <img class="logo"
  src="/assets/images/logo.jpg"
  alt="logo"
  />

  <h2 id="welcome">
Welcome to
<br>
    Cooperative
    <br>Economics
  </h2>
  <div class="dropdown">
    <button class="dropbtn">
    <div id="menu1"></div>
    <div id="menu2"></div>
    <div id="menu3"></div>
  </button>

  <div class="dropdown-content"> 

  <a routerLink="/about">About Us</a>  
  </div>

</div>


</div>
<body>
<br>
<br>
<br>


    <br>
    <br>
    <div id="cashFalling">
     <img class="cashFell"
     src="assets/images/cashFalling.png"
     alt="cashFell"
     
     style="width: 200%; opacity: 0.68; height: 200%"
     
     />
  <br>
<br>
<div class="title2">How To Save Money</div>
<span id="ol">
  <p id="one">Get a source of income.
    <br>
 Possibly more than 1 depending on how fast you want to save
  </p>
  <p id="two">Open a high yield savings account. 
   <br>A good one is <a href="https://www.americanexpress.com/en-us/banking/online-savings/account/?intlink=us-en-hp-product2-personal-all-savingsaccounts">American Express</a>
       which gives a return of 3% a year and compounds monthly.
     <br><br>Example: $1,000 in this savings account will make around $30 a year or $2.50 a month. 
  </p>
  <p id="three">Put money in your savings account every week, paycheck, or month consistently.
  <br><br>Example: Put $100 in a savings account every week and in a year you have around $5,000 + 3% interest
  </p>
  <p id="four">Be as consistent as you can. 
    <br><br>If you fall off, start again.</p>
  </span> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <p class="scrollMessage">Slide</p> -->
<h3 style="width: 200%;">Next Steps</h3>
<br>

<div id="oln">
    <br>
    <br>
    <br>
    <br>

  <p id="nOne">Tell friends and family to save.
  Working with a team will help you by keeping each other motivated to save and then you can also put your money together to invest.
  </p>
  <p id="nTwo">Investing Options
    <br>
    <span class="dropdown">
      <button class="home_button">
    <img class="home_pic"
    src="assets/images/home-xxl.png"
    />
  </button>
    <div class="dropdown-content" style="margin-left: 35px; margin-top: 35px;">
      <a routerLink="/realEstate">Real Estate</a>  

  </div>
</span>
<span class="dropdown">
<button class="business_button">
    <img class="business_pic"
    src="assets/images/business.png"
    />
</button>
<div class="dropdown-content" style="margin-left: 35px; margin-top: 35px;">
  <a routerLink="/business">Start a Business</a>  

</div>
</span>
<span class="dropdown">
<button class="stocks_button">
    <img class="stocks_pic"
    src="assets/images/stocks.png"
    />
</button>
<div class="dropdown-content" style="margin-left: 35px; margin-top: 35px;">
  <a routerLink="/stocks">Stock Market</a>  
</div>
</span>
 <span class="dropdown">
<button class="knowledge_button">
    <img class="knowledge_pic"
    src="assets/images/knowledge.png"
    />
</button>
<div class="dropdown-content" style="margin-left: 35px; margin-top: 35px;">
  <a routerLink="/knowledge">Knowledge</a>  
</div>
</span>
    
  </p>
</div> 
</div> 
<br>
<br>
<br>
<br>
<br>

<br>
<h3 class="help">Helpful Links</h3>
<span id="textAlign">
<div id="inline">
  
<iframe id="vid1" width="420" height="315"
src="https://www.youtube.com/embed/XVC2t_b-lII">
</iframe>
<p id="vidText1">Good way to save for people 
  <br>that get paid in cash</p>

<iframe id="vid1" width="420" height="315"
src="https://www.youtube.com/embed/2DzVGJlEhjA">
</iframe>
<p id="eyl">Earn Your Leisure is a great channel
  <br>
  to check out for investing</p>

<!-- <button id="arrowRight"></button> -->
<iframe id="vid1" width="420" height="315"
src="https://www.youtube.com/embed/D69VhdRNok0">
</iframe>
<p id="kris">Kris Kohn's videos are great for beginners 
  <br>
  investing in real estate</p>

</div>

</span>
<br>
<br>
<br>
<br>
</body>
<footer>&copy; JWJ Enterprises</footer>
</html>




 



 

   
